@import "../../style/variables";
.dashboard {
  height: 100%;
  .generality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    .item {
      position: relative;
      height: 90%;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 6px;
      .content-title {
        justify-content: space-between;
        font-weight: 600;
        font-size: 18px;
        align-items: center;
        padding: 0 20px;
        display: flex;
        height: 35%;
        i {
          color: rgb(63, 85, 85);
          font-size: 20px;
        }
      }
      .total {
        font-size: 25px;
        left: 45%;
        top: 50%;
        font-weight: 600;
        position: absolute;
      }
    }
  }
}
